<div>
  <% if alert = flash[:alert] %>
    <p id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <h1>Sign in</h1>

  <%= form_with url: session_url do |form| %>
    <div>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
    </div>

    <div>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %>
    </div>

    <div>
      <div>
        <%= form.submit "Sign in" %>
      </div>

      <div>
        <%= link_to "Forgot password?", new_password_path %>
      </div>
    </div>
  <% end %>
</div>
