<h2><%= link_to "#{@post.user.name}'s blog", user_posts_path(@post.user) %></h2>

<% if notice.present? %>
  <p><%= notice %></p>
<% end %>
<section>
  <%= render @post %>
  <% if @post.created_by?(Current.user) %>
    <%= link_to "Edit this post", edit_post_path(@post) %>
  <% end %>
  <% if @post.created_by?(Current.user) %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>
</section>
<section>
  <h3>Comments</h3>
  <% @post.comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</section>
<h3>New Comment</h3>
<%= render "comments/form", post: @post, comment: Comment.new %>


